Flow/definition.json
{"name":"5419f5fc-c4bf-4b71-a2e9-d86a1d56f8ff","id":"/providers/Microsoft.Flow/flows/5419f5fc-c4bf-4b71-a2e9-d86a1d56f8ff","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"MarineBallTicketSendNotificationEmail","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"6ac9a743-ea9c-40da-a16f-dd0c8f7a9062","type":"User","tenantId":"66cf5074-5afe-48d1-a691-a12b2121f44b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-11-08T18:31:54.7884405Z","connectionKeySavedTimeKey":"2025-06-05T22:50:56.1318875Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"ab387d45-1b1d-4ef5-bd0b-f477cc689e74"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"PurchaseID_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"EmailNotificationType_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["PurchaseID_Value","EmailNotificationType_Value"]}}}},"actions":{"Condition":{"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"3e1998ba-8db8-4f4f-a59d-1ef391d250b8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://usdos.sharepoint.com/sites/Brasilia/irm/paa/marineball","table":"1d88440d-aab0-4846-8182-e563a30cdcb5","$filter":"ID eq @{variables('varPurchaseID')}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Set_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"aba04264-12b1-4a98-8805-2b1fb9a04dca"},"type":"SetVariable","inputs":{"name":"varPurchaser","value":"@items('Apply_to_each')?['Title']"}},"Set_variable_4":{"runAfter":{"Set_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"3a571f92-8221-425c-856e-41e0e0de6cf1"},"type":"SetVariable","inputs":{"name":"varPurchaserEmail","value":"@items('Apply_to_each')?['EmployeeEmail']"}}},"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"8d3fd449-5a0b-4842-903f-e36749d69fde"},"type":"Foreach"},"Send_an_email_(V2)_2":{"runAfter":{"Create_HTML_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"9ad9f4c4-3275-4e91-921e-e75e20a64d71"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('varPurchaserEmail')","emailMessage/Subject":"Names needed for the Marine Ball | Informe nomes para o Marine Ball.","emailMessage/Body":"<p><span style=\"font-size: 14px\"><strong>Marine Ball Ticket Purchase P.O. #</strong></span><span style=\"font-size: 14px\"><strong>@{variables('varPurchaseID')}</strong></span><span style=\"font-size: 14px\"><strong></strong></span><span style=\"font-size: 14px\"><br>\n<br>\nDear </span><span style=\"font-size: 14px\">@{variables('varPurchaser')}</span><span style=\"font-size: 14px\">,<br>\n<br>\nAs we prepare for the 247th Marine Corps Birthday Ball we need your help to ensure that everyone that purchased a ticket has their named printed and spelled out correctly to be placed at their seat.<br>\n<br>\n</span><span style=\"font-size: 14px\"><strong>The names listed below are the exact text that will be printed onto the name tents and will show all characters included in the text.<br>\n<br>\nPlease refer to </strong></span><a href=\"https://sites.google.com/view/rj-landing-page/MarineBallChart\"><span style=\"font-size: 14px\"><u><strong>this seating chart</strong></u></span></a><span style=\"font-size: 14px\"><strong> for each seat you purchased.<br>\n<br>\n</strong></span><span style=\"font-size: 14px\">Please provide edits to the names, where necessary, in a reply to this email. To ensure proper time and resources for printing nearly 400 names, we must have this information finalized by </span><span style=\"font-size: 14px\"><strong>18 November.</strong></span><span style=\"font-size: 14px\"><br>\n<br>\n</span><span style=\"font-size: 14px\">@{body('Create_HTML_table')}</span><span style=\"font-size: 14px\"><br>\n<br>\nVery Respectfully,<br>\nMarine Corps Birthday Ball Organization Committee<br>\n<br>\n</span><span style=\"font-size: 14px\"><strong>***</strong></span><span style=\"font-size: 14px\"><br>\n<br>\nPrezado(a) </span><span style=\"font-size: 14px\">@{variables('varPurchaser')}</span><span style=\"font-size: 14px\">,<br>\n<br>\nEstamos nos preparando para o 247° Baile de Aniversário dos Fuzileiros Navais Americanos e precisamos de sua ajuda para garantir que todos aqueles que compraram um ingresso tenham seus nomes corretos e impressos em seus assentos.<br>\n<br>\n</span><span style=\"font-size: 14px\"><strong>Os nomes listados abaixo são o texto exato que será impresso e colocado em cada assento. Todos os caracteres serão utilizados.<br>\n<br>\nPor favor, veja este </strong></span><a href=\"https://sites.google.com/view/rj-landing-page/MarineBallChart\"><span style=\"font-size: 14px\"><u><strong>mapa de assentos</strong></u></span></a><span style=\"font-size: 14px\"><strong> para cada assento comprado.<br>\n<br>\n</strong></span><span style=\"font-size: 14px\">Por favor, faça edições aos nomes, quando necessário, em resposta a este e-mail. Para garantir a impressão de quase 400 nomes, por favor, precisamos desta informação até </span><span style=\"font-size: 14px\"><strong>18 de novembro</strong></span><span style=\"font-size: 14px\">.<br>\n<br>\n</span><span style=\"font-size: 14px\">@{body('Create_HTML_table_2')}</span><span style=\"font-size: 14px\"><br>\n<br>\nRespeitosamente,<br>\nComitê de Organização do Baile de Aniversário dos Fuzileiros Navais Americanos<br>\n<br>\n</span><span style=\"font-size: 10px\"><em>Email sent by </em></span><span style=\"font-size: 10px\"><em><strong>Marine Ball Seat Reservation app</strong></em></span><span style=\"font-size: 10px\"><em>.</em></span></p>","emailMessage/From":"MSGDETCMDRBRASILIA@state.gov","emailMessage/Bcc":"NogueiraGS@state.gov;FreitasTS@state.gov;SilvaJM@state.gov;MSGDETCMDRBRASILIA@state.gov","emailMessage/Sensitivity":"0d3cdd76-ed86-4455-8be3-c27733367ace","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_items_4":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"5a1b76bf-88da-4734-894a-0073d3b454db"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://usdos.sharepoint.com/sites/Brasilia/irm/paa/marineball","table":"3e92718c-023c-42ff-bcbb-52cb163831c4","$filter":"EmpID eq @{variables('varPurchaseID')}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_4":{"foreach":"@outputs('Get_items_4')?['body/value']","actions":{"Html_to_text":{"runAfter":{},"metadata":{"operationMetadataId":"13f2198c-732b-4505-957a-b66f7f52ed7b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"parameters":{"Content":"<p><span style=\"font-family: tahoma; font-size: 12px\"><strong>Seat ID</strong></span><span style=\"font-family: tahoma; font-size: 12px\">: </span><span style=\"font-family: tahoma; font-size: 12px\">@{items('Apply_to_each_4')?['SeatID']}</span><span style=\"font-family: tahoma; font-size: 12px\"> | </span><span style=\"font-family: tahoma; font-size: 12px\"><strong>Ticket #</strong></span><span style=\"font-family: tahoma; font-size: 12px\">: </span><span style=\"font-family: tahoma; font-size: 12px\">@{items('Apply_to_each_4')?['TicketNumber']}</span><span style=\"font-family: tahoma; font-size: 12px\"> | </span><span style=\"font-family: tahoma; font-size: 12px\"><strong>Guest Name</strong></span><span style=\"font-family: tahoma; font-size: 12px\">: </span><span style=\"font-family: tahoma; font-size: 12px\">@{items('Apply_to_each_4')?['Title']}</span><span style=\"font-family: tahoma; font-size: 12px\"></span></p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Append_to_array_variable":{"runAfter":{"Set_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"169a3a00-4617-4004-8e74-3782a170ea93"},"type":"AppendToArrayVariable","inputs":{"name":"varTicketInfoArray","value":{"Seats":"@variables('varTicketInfo')"}}},"Set_variable_5":{"runAfter":{"Html_to_text":["Succeeded"]},"metadata":{"operationMetadataId":"58063dba-3058-4c12-8fd7-a72a6add32fa"},"type":"SetVariable","inputs":{"name":"varTicketInfo","value":"@body('Html_to_text')"}},"Html_to_text_2":{"runAfter":{"Append_to_array_variable":["Succeeded"]},"metadata":{"operationMetadataId":"db219087-3289-41d4-a9a9-1687de3a7098"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"parameters":{"Content":"<p><span style=\"font-size: 12px; font-family: tahoma\"><strong>Assento</strong></span><span style=\"font-size: 12px; font-family: tahoma\">: </span><span style=\"font-size: 12px; font-family: tahoma\">@{items('Apply_to_each_4')?['SeatID']}</span><span style=\"font-size: 12px; font-family: tahoma\"> | </span><span style=\"font-size: 12px; font-family: tahoma\"><strong>Ingresso #</strong></span><span style=\"font-size: 12px; font-family: tahoma\">: </span><span style=\"font-size: 12px; font-family: tahoma\">@{items('Apply_to_each_4')?['TicketNumber']}</span><span style=\"font-size: 12px; font-family: tahoma\"> | </span><span style=\"font-size: 12px; font-family: tahoma\"><strong>Nome do(a) Convidado(a)</strong></span><span style=\"font-size: 12px; font-family: tahoma\">: </span><span style=\"font-size: 12px; font-family: tahoma\">@{items('Apply_to_each_4')?['Title']}</span><span style=\"font-size: 12px; font-family: tahoma\"></span></p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_6":{"runAfter":{"Html_to_text_2":["Succeeded"]},"metadata":{"operationMetadataId":"5bd8f910-4691-4a51-8236-e9fffbe0908d"},"type":"SetVariable","inputs":{"name":"varTicketInfoPortuguese","value":"@body('Html_to_text_2')"}},"Append_to_array_variable_2":{"runAfter":{"Set_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"0c4b7e32-638d-42aa-87e4-e29187715396"},"type":"AppendToArrayVariable","inputs":{"name":"varPortugueseTicketInfoArray","value":{"Assentos":"@variables('varTicketInfoPortuguese')"}}}},"runAfter":{"Get_items_4":["Succeeded"]},"metadata":{"operationMetadataId":"13caff25-53fd-41f1-9b1b-3670910e2233"},"type":"Foreach"},"Create_HTML_table":{"runAfter":{"Apply_to_each_4":["Succeeded"]},"metadata":{"operationMetadataId":"ce69e267-e65d-4221-80bf-367de2996a50"},"type":"Table","inputs":{"from":"@variables('varTicketInfoArray')","format":"HTML"}},"Create_HTML_table_2":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"6dfeeb42-d7c5-450a-8315-99c9eb060c19"},"type":"Table","inputs":{"from":"@variables('varPortugueseTicketInfoArray')","format":"HTML"}}},"runAfter":{"Initialize_variable_4":["Succeeded"]},"else":{"actions":{"Get_items_2":{"runAfter":{},"metadata":{"operationMetadataId":"6d9b80bb-4254-4d97-83da-07a77537f905"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://usdos.sharepoint.com/sites/Brasilia/irm/paa/marineball","table":"3e92718c-023c-42ff-bcbb-52cb163831c4","$filter":"EmpID eq @{variables('varPurchaseID')}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_2":{"foreach":"@outputs('Get_items_2')?['body/value']","actions":{"Delete_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"9c94718d-d17c-4b0e-9ae2-ef43cfb92637"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://usdos.sharepoint.com/sites/Brasilia/irm/paa/marineball","table":"3e92718c-023c-42ff-bcbb-52cb163831c4","id":"@items('Apply_to_each_2')?['ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_items_2":["Succeeded"]},"metadata":{"operationMetadataId":"3656d974-d84b-4688-8c57-4f26febd9660"},"type":"Foreach"},"Get_items_3":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"62c5157e-f7ad-4517-a2e2-d211477c29c2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://usdos.sharepoint.com/sites/Brasilia/irm/paa/marineball","table":"1d88440d-aab0-4846-8182-e563a30cdcb5","$filter":"ID eq @{variables('varPurchaseID')}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_3":{"foreach":"@outputs('Get_items_3')?['body/value']","actions":{"Update_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"470f36e7-123c-4b9f-ba02-74a0b4bd7d9d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://usdos.sharepoint.com/sites/Brasilia/irm/paa/marineball","table":"1d88440d-aab0-4846-8182-e563a30cdcb5","id":"@items('Apply_to_each_3')?['ID']","item/Title":"@items('Apply_to_each_3')?['Title']","item/EmployeeSection_x002f_Agency":"@items('Apply_to_each_3')?['EmployeeSection_x002f_Agency']","item/EmployeePhone":"@items('Apply_to_each_3')?['EmployeePhone']","item/EmployeeEmail":"@items('Apply_to_each_3')?['EmployeeEmail']","item/isCancelled":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable":{"runAfter":{"Update_item_2":["Succeeded"]},"metadata":{"operationMetadataId":"79d2ea6f-a7f7-4fae-a25b-57a87348e1a2"},"type":"SetVariable","inputs":{"name":"varPurchaser","value":"@items('Apply_to_each_3')?['Title']"}},"Set_variable_2":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"8f41babf-2982-4b3c-9122-d1730326b3bc"},"type":"SetVariable","inputs":{"name":"varPurchaserEmail","value":"@outputs('Update_item_2')?['body/EmployeeEmail']"}}},"runAfter":{"Get_items_3":["Succeeded"]},"metadata":{"operationMetadataId":"791815dd-5952-4b73-8b9d-b1a006c37fc6"},"type":"Foreach"},"Send_an_email_(V2)":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"metadata":{"operationMetadataId":"66c61416-733f-44c0-a4c6-28477592fec6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('varPurchaserEmail')","emailMessage/Subject":"Cancelled Marine Ball Purchase | Compra de ingresso para o Baile dos Fuzileiros Navais Americanos cancelada","emailMessage/Body":"<p><span style=\"color: rgb(44,130,201)\"><strong>Marine Ball Ticket Purchase P.O. #</strong></span><span style=\"color: rgb(44,130,201)\"><strong>@{variables('varPurchaseID')}</strong></span><span style=\"color: rgb(44,130,201)\"><strong></strong></span><span style=\"font-size: 14px\"><br>\n<br>\nDear </span><span style=\"font-size: 14px\">@{variables('varPurchaser')}</span><span style=\"font-size: 14px\">,<br>\n<br>\nYour purchase order was cancelled.<br>\nWe hope to see you next year!<br>\n<br>\nVery Respectfully,<br>\nMarine Corps Birthday Ball Organization Committee<br>\n<br>\n</span><span style=\"color: rgb(44,130,201)\"><strong>***</strong></span><span style=\"font-size: 14px\"><br>\n<br>\nPrezado(a) </span><span style=\"font-size: 14px\">@{variables('varPurchaser')}</span><span style=\"font-size: 14px\">,<br>\n<br>\nSua compra foi cancelada.<br>\nEsperamos vê-lo(a) no ano que vem!<br>\n<br>\nRespeitosamente,<br>\nComitê de Organização do Baile de Aniversário dos Fuzileiros Navais Americanos<br>\n<br>\n<br>\n</span><br>\n<span style=\"font-size: 10px\"><em>Email sent by </em></span><span style=\"font-size: 10px\"><em><strong>Marine Ball Seat Reservation app</strong></em></span><span style=\"font-size: 10px\"><em>.</em></span></p>","emailMessage/From":"MSGDETCMDRBRASILIA@state.gov","emailMessage/Bcc":"NogueiraGS@state.gov;FreitasTS@state.gov;SilvaJM@state.gov;MSGDETCMDRBRASILIA@state.gov","emailMessage/Sensitivity":"0d3cdd76-ed86-4455-8be3-c27733367ace","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"equals":["@variables('varEmailNotificationType')","New"]},"metadata":{"operationMetadataId":"0d171af0-536c-47c0-8a38-f3e5da6bb62a"},"type":"If"},"Purchase_ID":{"runAfter":{},"metadata":{"operationMetadataId":"e257935d-7c47-4d4e-be3c-3e0122d9c34d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPurchaseID","type":"string","value":"@{triggerBody()['PurchaseID_Value']}"}]}},"Email_Notification_Type":{"runAfter":{"Purchase_ID":["Succeeded"]},"metadata":{"operationMetadataId":"00c49729-1e52-4b56-8e99-1c741822da3e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varEmailNotificationType","type":"string","value":"@{triggerBody()['EmailNotificationType_Value']}"}]}},"Purchaser":{"runAfter":{"Email_Notification_Type":["Succeeded"]},"metadata":{"operationMetadataId":"635f8293-68bc-4605-9b62-9e5b58bd6e9f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPurchaser","type":"string"}]}},"Purchaser_Email":{"runAfter":{"Purchaser":["Succeeded"]},"metadata":{"operationMetadataId":"50421fd1-3f53-4e59-9747-3d912afb1d9b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPurchaserEmail","type":"string"}]}},"Ticket_Info":{"runAfter":{"Purchaser_Email":["Succeeded"]},"metadata":{"operationMetadataId":"04f931a4-f152-48af-9157-191410b9aead"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varTicketInfo","type":"string"}]}},"Ticket_Info_Portuguese":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"f017435f-c34c-4c00-85d7-da4e5e4f5faa"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varTicketInfoPortuguese","type":"string"}]}},"Initialize_variable_3":{"runAfter":{"Ticket_Info":["Succeeded"]},"metadata":{"operationMetadataId":"c7036e5e-9300-4cb2-8d2a-ac13ac8abec4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varTicketInfoArray","type":"array"}]}},"Initialize_variable_4":{"runAfter":{"Ticket_Info_Portuguese":["Succeeded"]},"metadata":{"operationMetadataId":"8dba4e83-1392-4b71-93e0-b7fea1609197"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPortugueseTicketInfoArray","type":"array"}]}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"29078451222746c0afb557069f0d8109","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-86846946-8407-4d04-bc26-3e12394f6b56","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_conversionservice":{"connectionName":"shared-conversionser-6fecaf66-5818-4cce-832f-5009-9d741088","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified","apiName":"conversionservice","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}